# === Compilation & Python cache ===
__pycache__/
*.pyc
*.so
!*.png

# === Dataset (ignore all except specific folders) ===
datasets/
!datasets/test/
!datasets/valid/
!datasets/test_hengqin/
!datasets/valid_hengqin/

# === logs ===
runs/*
!runs/train-cls/exp18/weights/*
!runs/train-cls-hengqin/exp/weights/*
!runs/train-cls-hengqin/exp2/weights/*

# === Ignore all in utils except selected files ===
utils/*
!utils/dataLoader.py
!utils/dataProcess.py
!utils/general.py
!utils/inference.py
!utils/loss.py
!utils/modelLoader.py.py
!utils/plots.py
!utils/reorg.py.py
!utils/scaler_data.py
!utils/torch_utils.py

README_2.md
.gitignore
# === Model artifacts ===
*.pth
*.npy
*.npz

# === Notebooks ===
*.ipynb

# === Editor temporary files ===
*.swn
*.swo
*.swp
*~

# === Pycharm settings ===
.idea/
.DS_Store